@model IEnumerable<Shopoo.Models.Commande>

@{
    ViewBag.Title = "Mes commandes";
}

<table class="table">
    <tr>
        <th>
            Numéro de commande
        </th>
        <th>
            Date commande
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeCommande)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCommande)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>
