body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.toast-top-right {
    top: 200px;
    margin: 0 auto;
    right: 20px;
}

.toast-success {
    background-color: #01a3a4 !important;
}

.toast-error {
    background-color: #ff7675 !important;
}
