@model IEnumerable<Shopoo.Models.Produit>

@{
    ViewBag.Title = "Accueil";

    int NombreProduits = 0;
    if (Session["Panier"] != null)
    {
        NombreProduits = (Session["Panier"] as List<Shopoo.Models.Produit>).Count();
    }
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="jumbotron">
    <h1>Shopoo</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <a href="/produits/details/@item.Id">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Libelle)</h5>
                        </div>
                        <p class="text-center">
                            <img class="img-fluid" width="150px" src="~/images/produits/@Html.DisplayFor(modelItem => item.Image)" title="Image produit @Html.DisplayFor(modelItem => item.Libelle)" />
                        </p>
                        <div class="card-body text-center">
                            <h4>
                                <span class="badge badge-pill badge-info">@Html.DisplayFor(modelItem => item.Prix) €</span>
                            </h4>
                            <h6>
                                <span class="badge badge-pill badge-danger">@Html.DisplayFor(modelItem => item.QuantiteEnStock) En Stock</span>
                            </h6>
                            <p class="my-2">
                                <a href="/paniers/AjouterAuPanier/@Html.DisplayFor(modelItem => item.Id)" class="btn btn-outline-primary btn-block btnAjoutProduitPanier">
                                    <i class="fa fa-plus"></i> Ajouter au panier
                                </a>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>